.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header-img-row {
  display: flex;
  justify-content: space-between;
}

.header-img {
  align-self: flex-start;
  width: 100px;
  height: auto;
}

.header-h1,
.header-h2,
.header-h3 {
  margin: 0px;
  font-family: "Oxygen", "Trebuchet MS", sans-serif;
  font-weight: normal;
  color: #446b48;
}

.header-h1 {
  margin-bottom: 10px;
  font-size: 50px;
  font-family: "Waterfall", cursive, serif;
}

.header-h2 {
  margin-bottom: 5px;
  font-size: 14px;
}

.header-h3 {
  margin-bottom: 20px;
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .header {
    flex-direction: row;
  }
  .header-img {
    width: 200px;
    height: 100px;
  }
  .header-h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 64px;
  }
  .header-h2,
  .header-h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  .header-img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .header-h1 {
    font-size: 72px;
  }
}
