.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #829c85;
}

.footer-copyright-text,
.footer-name-text,
.footer-venue-text {
  flex: 1;
  font-size: 12px;
  font-family: "Oxygen", "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer-venue-text {
  text-align: right;
}

.footer-name-text {
  font-size: 20px;
  font-family: "Waterfall", cursive, serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer {
    padding: 10px;
  }
  .footer-name-text {
    font-size: 28px;
  }
}
