.footer {
  background-color: #7b5167;
  display: flex;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright-text,
.footer-name-text,
.footer-venue-text {
  color: #f7f3f1;
  font-family: Palatino;
  font-size: 12px;
  text-decoration: none;
}

.footer-name-text {
  font-size: 16px;
  font-weight: bold;
  font-family: Apple Chancery;
}
