.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map {
  border: none;
}
